[submodule "pack/plugins/start/vifm.vim"]
	path = pack/plugins/start/vifm.vim
	url = https://github.com/vifm/vifm.vim.git
	ignore = dirty
[submodule "pack/plugins/start/barbar.nvim"]
	path = pack/plugins/start/barbar.nvim
	url = https://github.com/romgrk/barbar.nvim
	ignore = dirty
[submodule "pack/plugins/start/nvim-tree.lua"]
	path = pack/plugins/start/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua
	ignore = dirty
[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
	ignore = dirty
[submodule "pack/plugins/start/nvim-web-devicons"]
	path = pack/plugins/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
	ignore = dirty
[submodule "pack/plugins/start/plenary.nvim"]
	path = pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
	ignore = dirty
[submodule "pack/plugins/start/telescope.nvim"]
	path = pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
	ignore = dirty
[submodule "pack/plugins/start/telescope-ui-select.nvim"]
	path = pack/plugins/start/telescope-ui-select.nvim
	url = https://github.com/nvim-telescope/telescope-ui-select.nvim
	ignore = dirty
[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
	ignore = dirty
[submodule "pack/plugins/start/toggleterm.nvim"]
	path = pack/plugins/start/toggleterm.nvim
	url = https://github.com/akinsho/toggleterm.nvim
	ignore = dirty
[submodule "pack/plugins/start/lualine.nvim"]
	path = pack/plugins/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
	ignore = dirty
[submodule "pack/plugins/start/undotree"]
	path = pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree
	ignore = dirty
[submodule "pack/plugins/start/Comment.nvim"]
	path = pack/plugins/start/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim
	ignore = dirty
[submodule "pack/plugins/start/search-replace.nvim"]
	path = pack/plugins/start/search-replace.nvim
	url = https://github.com/roobert/search-replace.nvim
	ignore = dirty
[submodule "pack/plugins/start/nvim-lspconfig"]
	path = pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
	ignore = dirty
[submodule "pack/plugins/start/LuaSnip"]
	path = pack/plugins/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
	ignore = dirty
[submodule "pack/plugins/start/cmp-buffer"]
	path = pack/plugins/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
	ignore = dirty
[submodule "pack/plugins/start/cmp-cmdline"]
	path = pack/plugins/start/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline.git
	ignore = dirty
[submodule "pack/plugins/start/cmp-nvim-lsp"]
	path = pack/plugins/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
	ignore = dirty
[submodule "pack/plugins/start/cmp-path"]
	path = pack/plugins/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
	ignore = dirty
[submodule "pack/plugins/start/nvim-cmp"]
	path = pack/plugins/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
	ignore = dirty
[submodule "pack/plugins/start/neo-tree"]
	path = pack/plugins/start/neo-tree.nvim
	url = https://github.com/nvim-neo-tree/neo-tree.nvim
	ignore = dirty
[submodule "pack/plugins/start/none-ls"]
	path = pack/plugins/start/none-ls.nvim
	url = https://github.com/nvimtools/none-ls.nvim
	ignore = dirty
[submodule "pack/plugins/start/nui"]
	path = pack/plugins/start/nui.nvim
        url = https://github.com/MunifTanjim/nui.nvim
        ignore = dirty
[submodule "pack/plugins/start/gitsigns"]
	path = pack/plugins/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
	ignore = dirty
